// fonts

$roboto-font: "Roboto", sans-serif;
$poppins-font: "Poppins", serif;
$belgrano-font: "Belgrano", serif;

// colors
$button-background-color: #FA504D;
$font-primary-color: #2E2F38;
$font-secondary-color: #8E8E8E;
$background-color-black: #2E2F38