.content{
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    figure{
        img{
            max-width: 570px;
            height: auto ;
            margin-right: 50px;
        }
        figcaption{
            display: none;
        }
    }
    .nft_data{
        background-color: white;
        width: 600px;
        height: auto;
        padding: 30px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
        align-items: center;
        margin-top: -100px;
        margin-bottom: 50px;
        margin-right: 40px;
        }
        .nft_header{
            grid-row: 1;
            display: flex;
            justify-content: space-between;
            position: relative;

            //DECORATIVE BAR
            &::before{
                content: "";
                width: 550px;
                height: 1px;
                display: inline-block;
                background-color: black;
                position: absolute;
                top: 75px;
                left: 50%;
                transform: translateX(-50%);
            }
            .owner_data{
                display: flex;
                gap: 10px;
                img{
                    max-width: 50px;
                }
            }

            p{
                font-weight: 500;
                font-size: 22px;
                &:first-child{
                    font-size: 16px;
                    color: $font-secondary-color;
                }

        }

    }
        .nft_buttons{
            grid-row: 2;
            display: flex;
            align-items: center;
            justify-content: space-around;
            
            a{
                color: $button-background-color;
                text-decoration: none;
                font-size: 18px;
                text-align: center;
                font-weight: bold;
                width: 50%;
                display: flex;
                justify-content: center;

                &:last-child{
                    &:hover{
                        text-decoration: underline;
                    }
                    
                }
            }

            
            .bid_button{
                background-color: $button-background-color;
                padding: 5px 30px;
                color: white;
                transition: 0.5s ease;
                

                &:hover{
                    background-color: $background-color-black;
                }
            }
        }
    div.numbers{
        ul{
            display: flex;
            gap: 72px;
            li{
                list-style-type: none;
                color: white;
                font-size: 18px;
                display: flex;
                align-items: center;
                gap: 10px;
                .red_number{
                    color: $button-background-color;
                    font-size: 32px;
                    font-weight: 600;
                    
                }
                
                
            }
        }
    }

}